.wrapper {
  /* overflow: hidden; */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.box {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  bottom: -1px;
  background: linear-gradient(
    110deg,
    #9926b9 0,
    #771fa6 25%,
    #531690 50%,
    #2f0e79 75%,
    #000764 100%
  );
  /*z-index: 5;*/
}

.banner {
  position: absolute;
  z-index: 99;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
}
.banner h2 {
  color: #fff;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}
.banner p {
  color: #fff;
  font-size: 18px;
  line-height: 1.9;
}
.banner a {
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
}
.single-box {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100vh;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
  background-size: 50% 80px;
  animation: animate 17s linear infinite;
}
@keyframes animate {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
