<app-navbar style="background: none !important"></app-navbar>

<!--Extracted by: https://codepen.io/xoelcouselo/pen/LYmOygy-->

<div class="header">
  <!--Content before waves-->
  <div class="inner-header flex">
    <!--Just the logo.. Don't mind this-->

    <h1>Do Advanced Analytics</h1>
    <div class="letters-down-tittle">
      <p>
        We use Artificial Intelligence to create the best future predictions of
        your favorite streamers. Our algorithms allow us to make accurate
        predictions into the future.
      </p>
    </div>
  </div>

  <!--Waves Container-->
  <div>
    <svg
      class="waves"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28"
      preserveAspectRatio="none"
      shape-rendering="auto"
    >
      <defs>
        <path
          id="gentle-wave"
          d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
        />
      </defs>
      <g class="parallax">
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="0"
          fill="rgba(255,255,255,0.7"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="3"
          fill="rgba(255,255,255,0.5)"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="5"
          fill="rgba(255,255,255,0.3)"
        />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
  <!--Waves end-->
</div>
<!--Header ends-->

<!--Content starts-->
<!--
<div class="content flex">
  <p>By.Goodkatz | Free to use</p>
</div>
-->

<br />
<br />
<br />
<br />
<br />

<div class="container-lg">
  <h2 class="mt-5 ms-4 mb-5">The future of AI in your hands</h2>
  <p class="mt-5 ms-4 mb-5">
    We use industry-leading technologies for data processing, neural network
    creation, and various data-intensive applications.
  </p>
  <div class="row ms-4">
    <div class="col">
      <img src="/assets/svg/aws.svg" width="300" height="300" />
    </div>
    <div class="col">
      <img src="/assets/png/airflow.png" width="300" height="300" />
    </div>
    <div class="col">
      <img src="/assets/svg/tensorflow.svg" width="300" height="300" />
    </div>
  </div>
</div>

<br />
<br />
<br />
<br />
<br />

<div class="container-lg">
  <h2 class="mt-5 ms-4 mb-5">An amazing website</h2>
  <p class="mt-5 ms-4 mb-5">
    We effectively predict how your most beloved streamers will reach the
    furthest of their careers, we take into account even the smallest detail in
    our predictions.
  </p>
  <div class="row ms-4">
    <div class="col mx-auto">
      <img src="/assets/svg/angular-icon.svg" width="200" height="200" />
    </div>
    <div class="col">
      <img src="/assets/svg/javascript.svg" width="200" height="200" />
    </div>
    <div class="col">
      <img src="/assets/svg/nodejs.svg" width="200" height="200" />
    </div>
    <div class="col">
      <img src="/assets/svg/python.svg" width="200" height="200" />
    </div>
  </div>
</div>

<br />
<br />
<br />
<br />
<br />

<div class="container-lg">
  <h2 class="mt-5 ms-4 mb-5">See with our the Top10 Streamers</h2>
  <p class="mt-5 ms-4 mb-5">
    Clik for see the all Analytics and future Projections.
  </p>
  <div class="container">
    <!--Card 1 -->
    <div class="container align-middle">
      <a class="card-clicker align-middle" href="www.google.es">
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="https://static-cdn.jtvnw.net/jtv_user_pictures/ec898e4a-e0df-4dc0-a99d-7540c6dbe1e8-profile_image-300x300.png"
                class="img-fluid rounded-start"
                alt="300"
                width="500"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">AURONPLAY</h5>
                <p class="card-text">
                  <strong>Followers: <kbd>13,9M</kbd></strong>
                </p>
                <p class="card-text">
                  <strong>Subs(Now): <kbd>35,959</kbd></strong>
                </p>
                <p class="card-text">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!--Card 2 -->
    <a class="card-clicker" href="www.google.es">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://static-cdn.jtvnw.net/jtv_user_pictures/xqc-profile_image-9298dca608632101-300x300.jpeg"
              class="img-fluid rounded-start"
              width="300"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">XQC</h5>
              <p class="card-text">
                <strong>Followers: <kbd>11,1M</kbd></strong>
              </p>
              <p class="card-text">
                <strong>Subs(Now): <kbd>69,047</kbd></strong>
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!--Card 3 -->
    <a class="card-clicker" href="www.google.es">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://static-cdn.jtvnw.net/jtv_user_pictures/1c14619b-d930-48d4-bd17-91784c8bde0f-profile_image-300x300.jpeg"
              class="img-fluid rounded-start"
              width="300"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">ELSPREEN</h5>
              <p class="card-text">
                <strong>Followers: <kbd>5,5M</kbd></strong>
              </p>
              <p class="card-text">
                <strong>Subs(Now): <kbd>17,266</kbd></strong>
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!--Card 4 -->
    <a class="card-clicker" href="www.google.es">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://static-cdn.jtvnw.net/jtv_user_pictures/1d8cd548-04fa-49fb-bfcd-f222f73482b6-profile_image-300x300.png"
              class="img-fluid rounded-start"
              width="300"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">KAICENAT</h5>
              <p class="card-text">
                <strong>Followers: <kbd>2,1M</kbd></strong>
              </p>
              <p class="card-text">
                <strong>Subs(Now): <kbd>79,047</kbd></strong>
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!--Card 5 -->
    <a class="card-clicker" href="www.google.es">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://static-cdn.jtvnw.net/jtv_user_pictures/574228be-01ef-4eab-bc0e-a4f6b68bedba-profile_image-300x300.png"
              class="img-fluid rounded-start"
              width="300"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">IBAI</h5>
              <p class="card-text">
                <strong>Followers: <kbd>11,6M</kbd></strong>
              </p>
              <p class="card-text">
                <strong>Subs(Now): <kbd>25,730</kbd></strong>
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!--Card 6 -->
    <a class="card-clicker" href="www.google.es">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://static-cdn.jtvnw.net/jtv_user_pictures/f04d2a14-8d63-4cd5-a469-7ec2cd6e5ce3-profile_image-300x300.png"
              class="img-fluid rounded-start"
              width="300"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">TARIK</h5>
              <p class="card-text">
                <strong>Followers: <kbd>2,2M</kbd></strong>
              </p>
              <p class="card-text">
                <strong>Subs(Now): <kbd>14,937</kbd></strong>
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!--Card 7 -->
    <a class="card-clicker" href="www.google.es">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://static-cdn.jtvnw.net/jtv_user_pictures/e5768ef1-5b26-4d9b-b48f-9b96b5fb206a-profile_image-300x300.png"
              class="img-fluid rounded-start"
              width="300"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">LEC</h5>
              <p class="card-text">
                <strong>Followers: <kbd>1,8M</kbd></strong>
              </p>
              <p class="card-text">
                <strong>Subs(Now): </strong>
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!--Card 8 -->
    <a class="card-clicker" href="www.google.es">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://static-cdn.jtvnw.net/jtv_user_pictures/0107210e-a98c-409d-92a6-1caf70bb3953-profile_image-300x300.png"
              class="img-fluid rounded-start"
              width="300"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">ELMARINA</h5>
              <p class="card-text">
                <strong>Followers: <kbd>5,6M</kbd></strong>
              </p>
              <p class="card-text">
                <strong>Subs(Now): <kbd>14,482</kbd></strong>
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!--Card 9 -->
    <a class="card-clicker" href="www.google.es">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://static-cdn.jtvnw.net/jtv_user_pictures/10c197cb-295f-4d40-8a6c-26a0a5da22ee-profile_image-300x300.png"
              class="img-fluid rounded-start"
              width="300"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">ADINROSS</h5>
              <p class="card-text">
                <strong>Followers: <kbd>6,4M</kbd></strong>
              </p>
              <p class="card-text">
                <strong>Subs(Now): <kbd>24,094</kbd></strong>
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>

    <!--Card 10 -->
    <a class="card-clicker" href="www.google.es">
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://static-cdn.jtvnw.net/jtv_user_pictures/8766585f-8c02-48b5-9574-228ec3e01109-profile_image-300x300.png"
              class="img-fluid rounded-start"
              alt="..."
              width="300"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">VALORANT</h5>
              <p class="card-text">
                <strong>Followers: <kbd>3,4M</kbd></strong>
              </p>
              <p class="card-text">
                <strong>Subs(Now): </strong>
              </p>
              <p class="card-text">
                <small class="text-muted">Last updated 3 mins ago</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
