<app-navbar></app-navbar>

<app-streamer-info></app-streamer-info>

<div class="container-lg">
  <p>dashboard-page works!</p>
</div>
<div class="container-lg">
  <div class="container-lg">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"
          >Basic Analytics</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Future projections</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Emotional analysis of messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">User loyalty</a>
      </li>
    </ul>
  </div>
  <div class="container">
    <app-basic-analytics></app-basic-analytics>
  </div>
</div>
